<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav mt-5 pt-3 px-2">
        <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" href="#">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/users"   routerLinkActive="list-item-active">
            <a class="nav-link">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Users</span>    
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Publications</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
                <i class="mdi mdi-code-tags menu-icon"></i>
                <span class="menu-title">Tags</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
               
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Analatics</span>
            </a>
        </li>
        <hr>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
                <i class="mdi mdi-face-profile menu-icon"></i>
                <span class="menu-title">My Profile</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Account Settings</span>
            </a>
        </li>
    </ul>
</nav>